body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    margin: 0;
}

@font-face {
    font-family: 'FuenteProyecto';
    color: #333;
    src: url(GeometrysoftproBoldn-wJp2.otf);
}

h1 {
    margin-top: 50px; /* Agrega espacio superior en lugar de usar position */
    font-family: 'FuenteProyecto';
}

h2 {
    margin-top: 20px; /* Espacio adicional entre el título y el calendario */
    font-family: 'FuenteProyecto';
}

.detallesSUB-container{
    display: flex;
    justify-content: center;
    width: 800px;
    background-color: #dfffaa;
    border-radius: 10px;
    margin: 2%;/* Espacio superior e inferior */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.detallesBG-container{
    position: absolute;
    width: 700px;
    min-height: 300px;
    background-color: #1d1d1d;
    border-radius: 10px;
    margin: 2%;/* Espacio superior e inferior */
    background-image: url(DigimonBG.jpg);
    background-size: 100%;
    background-position: center;
}

/*vista contenedor crear eventos*/
.detalles-container{
    position: relative;
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.event-container{
    width: 500px;
    background-color: #dfffaa;
    border-radius: 10px;
    margin: 2%;/* Espacio superior e inferior */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'FuenteProyecto';
}

.contenedor-botones-eventos {
    margin: 2%;
    gap: 10px;
    width: 500px;
}

.boton-evento {
    padding: 10px 20px;
    background-color: #adff76;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'FuenteProyecto';
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
}

.boton-evento:hover {
    background-color: #b67265;
}

.day {
    padding: 15px;
    background-color:   #0073e6;
    color: rgb(19, 19, 19);
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.day:hover {
    background-color: #005bb5;
    transform: scale(1.05);
}

.day.empty {
    background-color: transparent;
    cursor: default;
}

.oculto{
    display: none;
}

.contenedor-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color:  #dfffaa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px;
}   
.contenedor-color{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffbb27;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
}

.contenedor-interfaz{
    display: flex;
    justify-content: center;
}

.contenedor-botones{
    right: 0;
    flex-wrap: wrap;
    margin: 5%;
    font-size: 20px;
    font-family: 'FuenteProyecto';
}

.contenedor-ajustado{
    margin: 20px;
    height: auto; /* Mantiene la proporción */
}

.boton-imagen{
    background-color: #ffffff00;
    cursor: pointer;
    border: none;
    margin: auto;
}

.boton-enlace {
    padding: 10px 20px;
    background-color: #adff76;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'FuenteProyecto';
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #333;
}
.boton-enlace:hover {
    background-color: #de8383;
    color: #333;
}

.contenedor-credencial {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  #dfffaa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px;
}   

.event-day {
    background-color: #ffff00;
    border: 2px solid #ffd700; 
    color: #333; 
}

.contenedor-credencial {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color:  #dfffaa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-height: 120px;
    margin: 20px;
}   

.columna {
    flex-direction: column;
}

.boton-editar {
    padding: 10px 20px;
    background-color: #adff76;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'FuenteProyecto';
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #333;
}
.boton-editar:hover {
    background-color: #de8383;
    color: #333;
}