<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Creacion de eventos - Tea Coffee and Games: Reservas</title>
    <link rel="icon" href="/logotecito.png">
    <link rel="stylesheet" href="/styles.css">
    <style>

        .detalles-container h3 {
            font-size: 22px;
            margin-bottom: 20px;
        }

    </style>
</head>
<body>
    <div class="contenedor-color">
        <img src="/logotecito.png" alt="logotecito" class="contenedor-ajustado" width="180px">
        <div class="contenedor-botones">
            <a href="/profile" class="boton-enlace">Perfil</a>
            <a href="/" class="boton-enlace">Calendario</a>
            <a href="/auth/google" class="boton-enlace">Iniciar sesión con Google</a>
        </div>
    </div>
    <div class="contenedor-interfaz">
        <div class="contenedor-informativo">
            <div class="detalles-container">
                <form id="formulario_creacion" action="/create" method="POST">
                    <h3>FORMULARIO DE REGISTRO DE EVENTOS</h3>
                    
                    <input class="controls" type="text" id="titulo_evento" name="titulo_evento" placeholder="ingrese nombre evento" required><br><br>

                    <input class="controls" type="text" id="juego_evento" name="juego_evento" placeholder="tipo de Juego o actividad"required><br><br>
            
                    <textarea class="controls" id="descripcion_evento" name="descripcion_evento" placeholder="Bases del evento"required></textarea><br><br>

                    <label for="fecha_evento">Fecha:</label>
                    <input class="controls" type="date" id="fecha_evento" name="fecha_evento" required><br><br>

                    <label for="fecha_evento">hora inicio:</label>
                    <input class="controls" type="time" id="fecha_evento" name="fecha_evento" required><br><br>

                    <input class="controls" type="number" id="cupos_evento" name="cupos_evento" placeholder="Cupos"required><br><br>
                    
                    <input class="controls" type="number" id="precio_evento" name="precio_evento" placeholder="Precio"required><br><br>

                    <label for="repetir_evento">¿Repetir semanalmente?</label>
                    <select class="controls" id="text" name="repetir_evento" required>
                        <option value="0">No</option>
                        <option value="1">Si</option>
                    </select>
                    <br>
                    <button class="botons" type="submit">Crear evento</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/script.js" type="text/javascript"></script>
</body>
</html>