<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tea Coffee and Games: Reservas</title>
    <link rel="icon" href="/logotecito.png">
    <link rel="stylesheet" href="/styles.css">
    <style>
        #calendar-days {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            width: 100%;
            text-align: center;
        }

        .day-name {
            background-color: #adff76;
            font-weight: bold;
        }

        #calendar {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 5px;
            width: 500px;
            text-align: center;
        }

        .day {
            background-color: #adff76;
            padding: 10px;
            cursor: pointer;
            border-radius: 4px;
        }

        .day.empty {
            background-color: transparent;
            cursor: default;
        }

        .day:hover {
            background-color: #ffd29f;
        }

        #event-list {
            list-style-type: none;
            padding-left: 0;
        }

        #event-list li {
            padding: 20px 0;
            background-color: rgba(255, 255, 255, 0.582);
            border-bottom: 1px solid #ccc;
            background-image: none;
            background-size: cover;
            background-blend-mode: color;
            background-position: center;
            border-radius: 10px;
            margin-bottom: 10px;
            color: black;
        }

        #event-list li:last-child {
            border-bottom: none;
        }

        .foto-perfil {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-bottom: 10px;
        }       

        .contenedor-perfil p {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="contenedor-color">
        <!-- Imagen del logotipo -->
        
        <img src="/logotecito.png" alt="logotecito" class="contenedor-ajustado" width="180px">
        
        <div class="contenedor-botones" >
            <a href="/profile" class="boton-enlace">Perfil</a>
            <a href="/" class="boton-enlace">Calendario</a>
            <a href="/auth/google" class="boton-enlace">Iniciar sesión con Google</a>
        </div>
    </div>
    <div class="contenedor-interfaz">
        <div class="detallesSUB-container">
            <div class="detallesBG-container"></div>
            <div class="detalles-container"></div>
            <!-- Enlace al archivo JavaScript -->
            <script src="/script.js" type="text/javascript"></script>
        </div>
    </div>
</body>
</html>