<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario de eventos - Tea Coffee and Games: Reservas</title>
    <link rel="icon" href="/logotecito.png">
    <link rel="stylesheet" href="/styles.css">
    <style>

        /*INICIO CUERPO DE CALENDARIO*/

        #calendar-days {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            margin-bottom: 10px;
            width: 100%;
            font-weight: bold;
            text-align: center;
        }

        #calendar {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 5px;
            width: 500px;
            text-align: center;
        }

        #calendar-header {
            text-align: center;
            margin-bottom: 10px;
        }

        .calendar-container{
            background-color: #dfffaa;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 500px;
            margin: 2%; /* Espacio superior e inferior */
            padding: 20px;
            font-family: 'FuenteProyecto';
        }

        #calendar-header h2 {
            margin: 0;
            font-size: 24px;
            font-family: 'FuenteProyecto';
        }

        /*FIN DE CUERPO CALENDARIO*/

        /*INICIO BOTONES DIAS*/


        .day-name {
            padding: 10px 0;
            background-color: #adff76;
            font-weight: bold;
            border-radius: 5px;
            font-family: 'FuenteProyecto';
        }

        .day {
            background-color: #adff76;
            padding: 10px;
            cursor: pointer;
            text-align: center;
            border-radius: 4px;
            transition: background-color 0.3s, transform 0.3s;
        }

        .day.empty {
            background-color: transparent;
            cursor: default;
        }

        .day:hover {
            background-color: #ffd29f;
        }
        /*REAL COLOR INSTITUCIONAL*/
        .event-day {
            background-color: #f6a626;
            border: 2px solid #f6a626; 
            color: #333; 
        }

        /*FIN BOTONES DIA*/

        #event-list {
            list-style-type: none;
            padding-left: 0;
        }

        #event-list li {
            padding: 20px 0;
            background-color: rgba(255, 255, 255, 0.582);
            border-bottom: 1px solid #ccc;
            background-image: none;
            background-size: cover;
            background-blend-mode: color;
            background-position: center;
            border-radius: 10px;
            margin-bottom: 10px;
            color: black;
        }

        .event-list li:last-child {
            border-bottom: none;
        }

        .event-container .event-list{
            width: 100%;
            background: #086708;
            border: none;
            padding: 12px;
            color: white;
            margin: 16px 0;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <div class="contenedor-color">
        <!-- Imagen del logotipo -->
        
        <img src="/logotecito.png" alt="logotecito" class="contenedor-ajustado" width="180px">
        
        <div class="contenedor-botones" >
            <a href="/profile" class="boton-enlace">Perfil</a>
            <a href="/" class="boton-enlace">Calendario</a>
            <% if (!isLoggedIn) { %>
                <a href="/auth/google" class="boton-enlace">Iniciar sesión con Google</a>
            <% } %>
        </div>
    </div>
    
    <div class="contenedor-interfaz">
        <div class="calendar-container">
            <div id="calendar-header">
                <h2 id="calendar-title"></h2>
            </div>

            <!--
            BOTON PROXIMO MES CALENDARIO
            <button id="next-month">Mes anterior</button>
            <button id="next-month">Mes Siguiente</button>
            -->
            
            <div id="calendar-days">
                <div class="day-name">Lun</div>
                <div class="day-name">Mar</div>
                <div class="day-name">Mié</div>
                <div class="day-name">Jue</div>
                <div class="day-name">Vie</div>
                <div class="day-name">Sáb</div>
                <div class="day-name">Dom</div>
            </div>
            <div id="calendar">
                <!-- Los días se generarán dinámicamente con JavaScript -->
            </div>
        </div>
        <div>
            <% if (permisos) { %>
                <!-- Botones de evento -->
                <div class="contenedor-botones-eventos">
                    <a href="/create" class="boton-enlace">Crear evento</a>
                    <button id="BotonAdministrarCuentas" class="boton-evento">Administrar Cuentas</button>
                </div>
            <% } %>
            
            <!-- Contenedor para los eventos -->
            <div class="event-container">
                <h3>Eventos para el día seleccionado</h3>
                <ul id="event-list">
                    <!-- Los eventos se mostrarán aquí -->
                </ul>
            </div>
        </div>
    </div>
    <!-- Enlace al archivo JavaScript -->
    <script src="/script.js" type="text/javascript"></script>
</body>
</html>