<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tea Coffee and Games: Reservas</title>
    <link rel="icon" href="/logotecito.png">
    <link rel="stylesheet" href="/styles.css">
    <style>
    /*CONTENEDOR DE LOGEO*/
    .contenedor-log {
        position: relative;
        width: 400px;
        background: #24303c;
        padding: 30px;
        margin: auto;
        margin-top: 100px;
        border-radius: 4px;
        font-family: 'calibri';
        color: white;
        box-shadow: 7px 13px 37px #000;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .contenedor-log a{
        color: white;
        text-decoration: none;
    }
    .contenedor-log a:hover{
        color: white;
        text-decoration: underline;
    }


    </style>
</head>
<body>
    <div class="contenedor-color">
        <!-- Imagen del logotipo -->
        
        <img src="/logotecito.png" alt="logotecito" class="contenedor-ajustado" width="180px">
        
        <div class="contenedor-botones" >
            <a href="/profile" class="boton-enlace">Perfil</a>
            <a href="/" class="boton-enlace">Calendario</a>
            <a href="/auth/google" class="boton-enlace">Iniciar sesión con Google</a>
        </div>
    </div>

    <div class="contenedor-log" align-items="default">
        <h3>No tienes cuenta iniciada : </h3>
        <h4><a href="/auth/google">¿Iniciar sesión?</a></h4>

    <!-- Enlace al archivo JavaScript -->
    <script src="/script.js" type="text/javascript"></script>
    </div>
</body>
</html>